<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gb.dao.tbMailHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.gb.pojo.tbMailHistory" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ADDRESSER" property="addresser" jdbcType="VARCHAR" />
    <result column="RECIPIENTS" property="recipients" jdbcType="VARCHAR" />
    <result column="TO_RECIPIENTS" property="toRecipients" jdbcType="VARCHAR" />
    <result column="secret_RECIPIENTS" property="secretRecipients" jdbcType="VARCHAR" />
    <result column="MAIL_STYLE" property="mailStyle" jdbcType="VARCHAR" />
    <result column="ACCESSORY_NAME" property="accessoryName" jdbcType="VARCHAR" />
    <result column="CREATED_TIME" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="IS_SUCCESSFUL" property="isSuccessful" jdbcType="DECIMAL" />
    <result column="ENTER_NAME" property="enterName" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADDRESSER, RECIPIENTS, TO_RECIPIENTS, secret_RECIPIENTS, MAIL_STYLE, ACCESSORY_NAME, 
    CREATED_TIME, IS_SUCCESSFUL, ENTER_NAME, IP_ADDRESS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TB_MAIL_HISTORY
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TB_MAIL_HISTORY
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.gb.pojo.tbMailHistory" >
    insert into TB_MAIL_HISTORY (ID, ADDRESSER, RECIPIENTS, 
      TO_RECIPIENTS, secret_RECIPIENTS, MAIL_STYLE, 
      ACCESSORY_NAME, CREATED_TIME, IS_SUCCESSFUL, 
      ENTER_NAME, IP_ADDRESS)
    values (#{id,jdbcType=DECIMAL}, #{addresser,jdbcType=VARCHAR}, #{recipients,jdbcType=VARCHAR}, 
      #{toRecipients,jdbcType=VARCHAR}, #{secretRecipients,jdbcType=VARCHAR}, #{mailStyle,jdbcType=VARCHAR}, 
      #{accessoryName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{isSuccessful,jdbcType=DECIMAL}, 
      #{enterName,jdbcType=VARCHAR}, #{ipAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gb.pojo.tbMailHistory" >
    <selectKey keyColumn="id" keyProperty="id" resultType="java.math.BigDecimal" order="BEFORE">
      select seq_mail.nextval as id from dual
    </selectKey>

    insert into TB_MAIL_HISTORY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="addresser != null" >
        ADDRESSER,
      </if>
      <if test="recipients != null" >
        RECIPIENTS,
      </if>
      <if test="toRecipients != null" >
        TO_RECIPIENTS,
      </if>
      <if test="secretRecipients != null" >
        secret_RECIPIENTS,
      </if>
      <if test="mailStyle != null" >
        MAIL_STYLE,
      </if>
      <if test="accessoryName != null" >
        ACCESSORY_NAME,
      </if>
      <if test="createdTime != null" >
        CREATED_TIME,
      </if>
      <if test="isSuccessful != null" >
        IS_SUCCESSFUL,
      </if>
      <if test="enterName != null" >
        ENTER_NAME,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="addresser != null" >
        #{addresser,jdbcType=VARCHAR},
      </if>
      <if test="recipients != null" >
        #{recipients,jdbcType=VARCHAR},
      </if>
      <if test="toRecipients != null" >
        #{toRecipients,jdbcType=VARCHAR},
      </if>
      <if test="secretRecipients != null" >
        #{secretRecipients,jdbcType=VARCHAR},
      </if>
      <if test="mailStyle != null" >
        #{mailStyle,jdbcType=VARCHAR},
      </if>
      <if test="accessoryName != null" >
        #{accessoryName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccessful != null" >
        #{isSuccessful,jdbcType=DECIMAL},
      </if>
      <if test="enterName != null" >
        #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gb.pojo.tbMailHistory" >
    update TB_MAIL_HISTORY
    <set >
      <if test="addresser != null" >
        ADDRESSER = #{addresser,jdbcType=VARCHAR},
      </if>
      <if test="recipients != null" >
        RECIPIENTS = #{recipients,jdbcType=VARCHAR},
      </if>
      <if test="toRecipients != null" >
        TO_RECIPIENTS = #{toRecipients,jdbcType=VARCHAR},
      </if>
      <if test="secretRecipients != null" >
        secret_RECIPIENTS = #{secretRecipients,jdbcType=VARCHAR},
      </if>
      <if test="mailStyle != null" >
        MAIL_STYLE = #{mailStyle,jdbcType=VARCHAR},
      </if>
      <if test="accessoryName != null" >
        ACCESSORY_NAME = #{accessoryName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null" >
        CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuccessful != null" >
        IS_SUCCESSFUL = #{isSuccessful,jdbcType=DECIMAL},
      </if>
      <if test="enterName != null" >
        ENTER_NAME = #{enterName,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gb.pojo.tbMailHistory" >
    update TB_MAIL_HISTORY
    set ADDRESSER = #{addresser,jdbcType=VARCHAR},
      RECIPIENTS = #{recipients,jdbcType=VARCHAR},
      TO_RECIPIENTS = #{toRecipients,jdbcType=VARCHAR},
      secret_RECIPIENTS = #{secretRecipients,jdbcType=VARCHAR},
      MAIL_STYLE = #{mailStyle,jdbcType=VARCHAR},
      ACCESSORY_NAME = #{accessoryName,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      IS_SUCCESSFUL = #{isSuccessful,jdbcType=DECIMAL},
      ENTER_NAME = #{enterName,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>